html {
  box-sizing: border-box;
}
*,
* ::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #757575;
}
* {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
header {
  height: 80px;
  display: flex;
  border: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin: 0 auto;
  text-align: center;

  outline: 1px solid black;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: cover;

  background-image: url("../images/Img.jpg");
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
}
.button {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button .buttonListMenu:last-child {
  margin-right: 0;
}
.buttonListMenu {
  margin-right: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}
.mainButton:hover,
.mainButton:focus {
  color: #ffffff;
}
/*.mainButton {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
.mainButton {
  border: transparent;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.siteNav {
  display: flex;
  align-items: center;
}
.mainNav {
  display: flex;
  justify-content: space-between;
}
.navList {
  display: flex;
  margin-left: 93px;
}
.navList-item {
  margin-right: 50px;
}
.navList .navList-item:last-child {
  margin-right: 0;
}
.icons-contakts {
  margin-right: 10px;
  fill: #757575;
}
.icons-contakts:hover {
  fill: #2196f3;
}
.contaktsLinks {
  color: #2196f3;
}
.mainList {
  display: flex;
  align-items: center;
}
.mainList li {
  margin-right: 50px;
}
.mainList .mainListContakts:last-child {
  margin-right: 0;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  overflow: hidden;
}
.card-set > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.item {
  position: relative;
}
.item::before {
  display: inline-block;
  position: absolute;
  content: "Технокряк - это современная площадка распространения коронавируса. Компании исподльзуют эту платформу для цифрового шпионажа и атак на защищенные сервера конкурентов.";
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(100%);
  transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set:hover .item::before {
  transform: translateY(0);
}
.item:hover::before {
  opacity: 1;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.iconSection {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.titleClassSection {
  width: 270px;
  height: 120px;
  background: #f3f4fa;
  border-radius: 4px;
}
.titleClass {
  display: flex;
}
.titleClassSection:not(:last-child) {
  margin-right: 30px;
}
.titleList,
.title {
  margin-bottom: 10px;
}
.images {
  display: flex;
  justify-content: space-between;
}
.product-thumb::before {
  display: inline-block;
  content: "ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ";
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
}
.navList-link {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
}
.navList-link:focus,
.navList-link:hover {
  color: #2196f3;
}
.navList-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navList-link:hover::after {
  opacity: 1;
}
.courant {
  color: #2196f3;
}
.clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}
.container-clients {
  width: 1170px;
  display: inline-flex;
  justify-content: space-between;
}
.box {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button-icon-clients {
  padding: 0px;
  margin: 0px;
  fill: #afb1b8;
}
.button-icon-clients:hover {
  fill: #2196f3;
}
.box:hover {
  border: 1px solid #2196f3;
}
.contaktsLinks {
  font-weight: 500;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  line-height: 16px;

  color: #757575;
}
.contaktsLinks:focus,
.contaktsLinks:hover {
  color: #2196f3;
}
.text {
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
}
.title {
  font-weight: bold;
  line-height: 1.142em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}
.teamSection {
  background: #f5f4fa;
}

/* work_ title*/

.work_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.teamlid {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.divteamCard {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.teamCard {
  font-size: 16px;
  line-height: 1.187em;
  letter-spacing: 0.03em;
  text-align: center;
}
.teamlidcard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

/* actions*/
.actions {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #ffffff;
  justify-content: center;
  padding: 0;
  border: 0;
}
.actions-button-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.button-icon {
  fill: #afb1b8;
}
.actions-button-icon:not(:last-child) {
  margin-right: 10px;
}
.button-actions:hover {
  fill: #ffffff;
}
.actions-button-icon:hover {
  background: #2196f3;
}
.cardItem {
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.group {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.groupName {
  font-size: 16px;
  line-height: 1.875em;
  color: #757575;
}
.listMenu:hover,
.listMenu:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.listMenu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid #f5f4fa;
  background: #f5f4fa;
  border-radius: 4px;
}
.colorOne {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  align-items: center;
  justify-items: center;
}
.containerLogo {
  display: inline-block;
}
.containerLogo {
  margin-right: 70px;
}
.containerJoin {
  display: inline-block;
}
.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.actions-join {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.button-icon-join {
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background: rgba(255, 255, 255, 0.1);
}
.join-block:not(:last-child) {
  margin-right: 10px;
}
.join-block {
  display: inline-block;
}
.button-icon-join:hover {
  background: #2196f3;
}
.icon-join {
  fill: white;
}

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #2196f3;
}
.logoStudio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: #212121;
}
.logoFooter {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  color: white;
}
.address {
  line-height: 1.714em;
  color: #ffffff;
}
.contakts:hover,
.contakts:focus {
  color: #2196f3;
}
.contakts {
  line-height: 1.714em;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.6);
}
.contaktsOne {
  margin-top: 20px;
}
.modal {
  padding: 40px;
}
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 6px 10px;
}
.form-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}
.form-label placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}
.form-button {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
